.circle-image {
    width: 200px;
    height: 200px;
    border-radius: 180px;
}
.flow-layout {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.flow-child {
    margin: 1em;
    width: 256px; /*calc(50% - 2*1em);*/
}

.flow-full {
    margin: 1em;
    width: calc(100% - 2*1em);
}

.img-flow {
    width: 100%;
    height: 256px;
}